*{
    margin:0px;
    padding: 0px;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Oswald';
    background-color: black;
    color: white;
    line-height: 1.5;
}

h1{
    text-align: center;
    color: rgb(72, 55, 49);
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #3e0202;
}

h2{
    text-align: center;
    color: #8e210a;
    text-shadow: 1px 1px 0px white;
}

h3{
    text-align: center;
    
    color: #5a281c;
}

img{
    max-width: 100%;
}

.header{
    display: flex;
    justify-content: center;
}

.navegacion{
    background-color: #d0d0d0;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace{
    color:#3e2b27;
    font-size: 30px;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: #7d1d11;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}


@media (min-width:768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
} 

.producto{
    background-color: #261d1b;
    padding: 1rem;
    box-shadow: 1px 1px 1rem #7d1d11;
}

.producto__imagen{
    width: 100%;
}

.producto__nombre{
    font-size: 35px;
    color: black;
}

.producto__precio{
    font-size: 25px;
    color:#d0d0d0
}

.producto__precio,
.producto__nombre{
    margin: 10px 0px;
    text-align: center;
    line-height: 1.2;
}

.header__logo{
    width: 100px;
    padding: 10px;
    margin-left: 15px;
}

header h1{
    font-size: 27px;
    padding: 10px;
}

.grafico{
    min-height: 300px;
}

.grafico--cuarto1{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background: url(recursos/laptop-background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grafico--cuarto2{
    background:url(recursos/laptop-background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 8/9;
}

@media(min-width:768px){
.grafico--cuarto2{
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}
}

.nosotros{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

@media(min-width:768px){
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen{
    grid-row: 1 / 2;
    width: 100%;
    margin-bottom: 30%;
}

@media (min-width:768px){
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}

.bloques{
    display: grid;
    grid-template-columns: auto auto;
}

@media (min-width:768px){
    .bloques{
        grid-template-columns: auto auto auto auto;
    }
}

.bloque{
    text-align: center;
    gap: 20px;
    margin: 20px;
}


.bloque__imagen{
    width: 100%;
}




